.modal-store-bd {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: saturate(110%) blur(5px);
  background: rgba(85, 85, 85, 0.418);
}
.modal-store {
  border-radius: 5px;
  background: white;
  color: black;
  width: 60%;
  height: 85%;
}
.modal-store img {
  width: 300px;
  height: 350px;
  border-radius: 5px;
}
.btn-modal button {
  cursor: pointer;
  padding: 5px;
  margin: 20px;
}
.choices p {
  font-size: 1.1rem;
  font-weight: lighter;
}
.choices {
  cursor: pointer;
}
.choices:hover {
  transform: scale(105%);
}
.confirmation {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}
.prev-button-modal {
  border-radius: 5px;
  border: 1px solid rgb(255, 0, 0);
  color: red;
  background: none;
  font-size: 0.8rem;
  width: 80px;
  height: 50px;
}
.prev-button-modal:hover {
  background: rgb(255, 0, 0);
  color: white;
}
.close-btn-modal {
  border-radius: 5px;
  border: 1px solid rgb(255, 0, 0);
  color: red;
  background: none;
  font-size: 0.8rem;
  width: 100px;
  height: 50px;
}
.close-btn-modal:hover {
  background: rgb(255, 0, 0);
  color: white;
}

.confirm-btn-modal {
  border-radius: 5px;
  border: 1px solid rgb(60, 0, 255);
  color: rgb(60, 0, 255);
  background: none;
  font-size: 0.9rem;
  width: 100px;
  height: 50px;
}
.confirm-btn-modal:hover {
  background: rgb(60, 0, 255);
  color: white;
}
